@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-group{
    box-shadow: 0 1px 1px rgb(228, 145, 145);
}
.navbar-group:hover{
    box-shadow: 0 5px 5px black;
    border-radius: 20px;
}

.nav-group-item{
    margin: 20px 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 16px;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
.nav-group-item:hover{
    border-bottom: 5px solid black;
    border-radius: 10px;
}
